.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Content{
    background-color: rgb(221, 221, 228);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;

}

.Introduction{
    background-color: grey;
    display: flex;
    background-image: linear-gradient(to right, rgb(241, 232, 232) , rgb(255, 255, 255));
    margin: 20px;
    height: 300px;
    
}
#web-description{
    font-size: 20px;
    text-align: justify;
    justify-content: center;
    padding: 30px;
}
#logo{
    
    height: 70%;
    opacity: 0.8;
    padding: 60px
    
}

.Event{
    width:20%;
    height: 40%;
    margin: 1rem;
    box-shadow: 0 0 7px 0 #ddd;
    border-radius: 5px;
    border: 1px solid rgb(29, 27, 27);
    width: 300px;
    padding: 10px
}
.event-img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button-description{
    background-color:  rgb(221, 221, 228);;
    color: black;
    border: 2px solid #4CAF50; 
}
