* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.App {
    width: 100%;
    height: 98vh;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.Content{
    background-color: rgb(221, 221, 228);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;

}

.Introduction{
    background-color: grey;
    display: flex;
    background-image: linear-gradient(to right, rgb(241, 232, 232) , rgb(255, 255, 255));
    margin: 20px;
    height: 300px;
    
}
#web-description{
    font-size: 20px;
    text-align: justify;
    justify-content: center;
    padding: 30px;
}
#logo{
    
    height: 70%;
    opacity: 0.8;
    padding: 60px
    
}

.Event{
    width:20%;
    height: 40%;
    margin: 1rem;
    box-shadow: 0 0 7px 0 #ddd;
    border-radius: 5px;
    border: 1px solid rgb(29, 27, 27);
    width: 300px;
    padding: 10px
}
.event-img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button-description{
    background-color:  rgb(221, 221, 228);;
    color: black;
    border: 2px solid #4CAF50; 
}

.title-display-container {
    width: 60%
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: right;
}

.Menu div {
    margin-right: 10px;
}

#profile-button {
    cursor: pointer;
}

.show-after-login {
    width: 100%;
    height: 92%;
    background-image: linear-gradient(to bottom right, blue, white);
    position: relative;
    display: flex;
}

.User-Screen {
    width: 70%;
}

.Upcoming-Events {
    width: 25%;
}

.No-Events-Card {
    width: 25%;
    background-color: aliceblue;
    margin: 1em;
    padding: 0.5em;
}