* {
    box-sizing: border-box;
}

.App { 
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100vh;
}

#root {
    /* width: 100%;
    height: 98vh; */
    margin-left: 5%;
    margin-right: 3%
}

.Header {
    padding-top: 2%;
    justify-content: space-between;
    transition: .25s;
    z-index: 300;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 35px;
}

.Header.sticky {
    padding: 10px 35px
}


.Login-Container {
    margin-right: 2%;
}

.Content{
    border-top:3px;
    border-top: solid;
    border-top-color: rgb(170, 170, 170);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 4% 0 4%;
    justify-content: center;
}

.Introduction{
    display: flex;
    height: 600px;
    width: 90%;
    margin: .5%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#web-description{
    font-size: 20px;
    text-align: justify;
    justify-content: center;
    padding: 30px;
    float: left;
    letter-spacing: 0.1em;
    margin-top: 7%;
    font-size:10px
}
#logo{
    float: right;
    height: 300px;
    margin-top:5%   
}

.Event{
    font-size:10px;
    height: 0%;
    margin: 1rem;
    box-shadow: 0 0 7px 0 #ddd;
    border-radius: 5px;
    
    width: 200px;
    padding: 10px
}
.event-img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button-description{
    background-color:  rgb(221, 221, 228);;
    color: black;
    border: 2px solid #4CAF50; 
}

.show-before-login {
    margin-top: 7%;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1% 4% 0 4%;
    border-bottom: solid gray
}

.Menu div {
    margin-right: 10px;
}

#profile-button {
    cursor: pointer;
}

.links-show {
    display: block;
}

.links-hide {
    display: none;
}

.show-after-login {
    height: 100%;
    display: flex;
    margin: 9% 4% 4% 4%;
}



.Upcoming-Events {
    width: 25%;
    float: right;
    padding-top: 3%;
    padding:5px;
    background-color: rgb(235, 243, 241, 0.3);
}
.User-Events{
    width: 66%;
    float: left;
    background-color: rgb(235, 243, 241, 0.3);
}

#Logo-User-Screen{
    height:150px;
    float:right
}
#Description-UserScreen{
    
    text-align: center;
    height:30%
}
.introduction-user-screen{
    display:flex;
    justify-content: centerEvent;
    border-bottom: solid grey;
    align-items: center;
    
}

.Upcoming-Event{
    /* height: 40%; */
    border-radius: 5px;
    border: 1px solid rgb(29, 27, 27);
    /* width: 300px; */
    padding: 10px
}

.No-Events-Card {
    width: 25%;
    background-color: aliceblue;
    margin: 1em;
    padding: 0.5em;
}

.Upcoming-Event-Image{
    width:100%;
    height:70%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.signUpForEvent{
    padding: 10px 30px 10px 100px;
    border-radius: 10px;
    color: rgb(42, 39, 39);
}

.userImage{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.No-Events-Card {
    width: 25%;
    background-color: aliceblue;
    margin: 1em;
    padding: 0.5em;
}

.Avaliable-Events{
    justify-content: center;
    margin: 0 6% 0 6%
}

.avaliable-event-img{
    display:block;
    border-radius: 9.5px;
}

.AvaliableEvents{
    display:flex;
    margin: 0 4% 0 4%;
    justify-content: center;
}

.Avaliable-Event-Details{
    margin-right: 40px;
}

.filters{

    width:100%;
    height:40px;
  
}
.filter-button{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}


.User-Upcoming-Events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.User-Event-Card {
    display: block;
    height: 40%;
    margin: 1rem;
    box-shadow: 0 0 7px 0 #ddd;
    border-radius: 5px;
    border: 1px solid rgb(29, 27, 27);
    width: 22%;
    padding: 10px;
}

.user-event-card-image {
    width: 100%;
}


.Group-Event-Image{
    display:inline;
    height:110px;
    margin-left: 40px;
    border-radius:10%
}


.Events-Group{
    width:100%px;
    height:190px;
    margin-bottom: 10%
    
}


/* Styling Agnes: */
.Event-Title{
    font-size: 13px;
    font-weight: bold;
}

.Event-Date{
    font-size: 12px;
}


.Input-Keyword{
    border-radius: 40px;
    background: none;
    margin-top: 50px;
    margin-right:5%;
    width: 120%;
    height: 40%;
    

}

.Search-Box{
    display: flex;
    justify-content: center;
    margin-bottom: 10px
}

.Search-Group{
    align-items: center;
    justify-content: center;
    margin: 20px 40px 50px 50px
}
.Search-Group-Name{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size:large;
    letter-spacing: 1px;
}

.events-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.New-Event{
    border: none;
    border-bottom: solid;
    border-color: #C6BBBB;
}

.carousel-image {
    width: 600px;
    height: 600px;
    border-radius: 45%;
}

.carousel-item {
    max-width: 100%;
}

.carousel-container {
    width: 40%;
}

.intro-text-container {
    width: 40%
}

.carousel-inner {
    height: 600px;
    width: 600px;
    justify-content: center;
    align-items: center;
} 
